{% extends 'articles/base.html' %}

{% block content %}
    <div class="site-section bg-light">
      <div class="container">
          <div class="row">
          <div class="col-md-6">
            <span>Раздел: Авторизация</span>
            <h3>Подтверждение email</h3>
            <p>Пожалуйста, подтвердите Ваш email, чтобы завершить регистрацию.</p>
          </div>
        </div>
      </div>
    </div>
<!------------------------------------------------------------------------------------------------------------------->
    <div class="site-section bg-lightx">
      <div class="container">
          <div class="text"></div>
      </div>
    </div>
{% endblock %}