{% extends "articles/base.html" %}

{% block content %}
    <div class="site-section bg-light">
      <div class="container">
          <div class="row">
          <div class="col-md-12">
            <span>Раздел: Вход на сайт</span>
            <h3>Войдите или зарегистрируйтесь</h3>
            <p>Введите имя и пароль или зарегистрируйтесь</p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-white">
      <div class="container">
        <div class="row align-items-stretch retro-layout-2">
            <form method="post">
                {%csrf_token%}
                {{form.as_p}}
            <button type="submit">Войти</button>
            <form>
        </div>
      </div>
    </div>
{% endblock %}