{% extends "articles/base.html" %}

{% block content %}
    <div class="site-section bg-light">
      <div class="container">
          <div class="row">
          <div class="col-md-12">
            <span>Раздел: Вход на сайт</span>
            <h3>Регистрация</h3>
            <p>Введите имя, почту и пароль</p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-white">
      <div class="container">
        <div class="row align-items-stretch retro-layout-2">
            <form method="post">
                {%csrf_token%}
                <table>{{ form.as_table }}</table>
<!--                {{form.as_p}}-->
            <button type="submit">Зарегистрироваться</button>
            <form>
        </div>
      </div>
    </div>
{% endblock %}