{% extends "articles/base.html" %}

{% block title %}Article update{% endblock %}

{% block content %}

    <div class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <span>Раздел: Работа со статьями</span>
              <h3>Коррекция статьи</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-white">
      <div class="container">
          <div class="row align-items-stretch retro-layout-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
<!--                {{ form.as_p }}-->
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
          </div>
      </div>
    </div>
{% endblock %}