 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- meta предназначен для корректного отображения разрабатываемой страницы на мобильных устройствах. -->

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">
{% load static %}
    <link rel="stylesheet" href="{% static "articles/style.css" %}">
    <link rel="stylesheet" href="{% static "articles/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "articles/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "articles/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "articles/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "articles/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "articles/bootstrap-datepicker.css"articles/>
    <link rel="stylesheet" href="{% static "articles/laticon.css" articles/>
    <link rel="stylesheet" href="{% static "articles/aos.css" %}">
    <link rel="stylesheet" href="{% static "articles/style.css" %}">

    <script src="{% static 'articles/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'articles/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'articles/jquery-ui.js' %}"></script>
    <script src="{% static 'articles/popper.min.js' %}"></script>
    <script src="{% static 'articles/bootstrap.min.js' %}"></script>
    <script src="{% static 'articles/owl.carousel.min.js' %}"></script>
    <script src="{% static 'articles/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'articles/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'articles/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'articles/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'articles/aos.js' %}"></script>
    <script src="{% static 'articles/main.js' %}"></script>
    <script src="{% static 'articles/readmore.min.js' %}"></script>
    <style>
    </style>

  </head>
  <body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-12 search-form-wrap js-search-form">
            <form method="get" action="#">
              <input type="text" id="s" class="form-control" placeholder="Search...">
              <button class="search-btn" type="submit"><span class="icon-search"></span></button>
            </form>
          </div>

          <div class="col-4 site-logo">
            <a href="{% url 'home' %}" class="text-black h2 mb-0">Techdepartament</a>
          </div>

          <div class="col-8 text-right">
            <nav class="site-navigation" role="navigation">
              <ul class="site-menu js-clone-nav mr-auto d-none d-sm-block">
                <li> <a href="{% url 'home' %}">На главную</a></li>
                <li><a href="{% url 'articles:index' %}">Статьи</a></li>
                <li><a href="{% url 'articles:service' %}">Услуги</a></li>
                <li><a href="{% url 'articles:article_add' %}">Добавить статью</a></li>
                <li><a href="#">Поиск по ключевым словам</a></li>
                <li class="d-none d-lg-inline-block"><a href="#" class="js-search-toggle"><span class="icon-search"></span></a></li>
              </ul>
            </nav>
            <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
          </div>

      </div>
    </header>


{% block content %} {% endblock %}
<!---------------------------Футер---------------------------------------------------------------------------------->
    <div class="site-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4">О компании</h3>
            <p>ООО Техдепартамент, статистика для медицины</p>
            <p>Мы, профессионалы математики и статистики, помогаем практикующим врачам, аспирантам/докторантам, пишущим
              диссертацию, и желающим правильно оформить расчеты и описание к ним.</p>
            <p>Цель портала - собрать советы по написания кандидатской/докторской диссертации или научной статьи в
              ВАКовских журнал по медицине. В части статистических расчетов и правильного оформления проведенных исследований.</p>
          </div>
          <div class="col-md-3 ml-auto">
            <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
            <ul class="list-unstyled float-left mr-5">
              <li><a href="#">О компании</a></li>
              <li><a href="{% url 'articles:service' %}">Услуги</a></li>
              <li><a href="#">Условия</a></li>
              <li><a href="{% url 'articles:subscribe' %}">Подписка на новости</a></li>
            </ul>
            <h3 class="footer-heading mb-4">Основные темы:</h3>
            <ul class="list-unstyled float-left">
              <li><a href="#">Доказательная медицина</a></li>
              <li><a href="#">Рецензия статистика</a></li>
              <li><a href="#">Методы</a></li>
              <li><a href="#">Математики улыбаются</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <div>
              <h3 class="footer-heading mb-4">Мы в сети:</h3>
              <p>
                <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                <a href="#"><span class="icon-twitter p-2"></span></a>
                <a href="#"><span class="icon-instagram p-2"></span></a>
                <a href="#"><span class="icon-rss p-2"></span></a>
                <a href="#"><span class="icon-envelope p-2"></span></a>
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
          </div>
        </div>
      </div>
    </div>

  </div>



  </body>
</html>