{% extends "articles/base.html" %}

{% block content %}
    <div class="site-section bg-light">
      <div class="container">
          <div class="row">
          <div class="col-md-6">
            <span>Раздел: Сервис</span>
            <h3>Заказать статобработку</h3>
            <p>Опишите кратко суть Вашей задачи и мы с Вами свяжемся</p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-white">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <p>Вы вошли как {{ user.username }}.</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>{{field.label_tag}}</p>
                    <hr>
                    {% for error in field.errors %}
                        {{error}}
                    {% endfor %}
                    <p>{{field}}</p>
                    {% endfor %}
                    <button type="submit">Заказать статобработку</button>
                </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}