{% extends "articles/base.html" %}

{% block content %}
    <div class="site-section bg-light">
      <div class="container">
          <div class="row">
          <div class="col-md-6">
            <span>Раздел: Сервис</span>
            <h3>Заказать консультацию</h3>
            <p>Опишите кратко суть Вашей проблемы и мы с Вами свяжемся.</p>
          </div>
        </div>
      </div>
    </div>
<!------------------------------------------------------------------------------------------------------------------->
    <div class="site-section bg-lightx">
      <div class="container">
          <div class="text">
              <h3>Консультация включает в себя три этапа:</h3>
              <p>- обсуждение предполагаемого исследования;</p>
              <p>- обсуждение предполагаемых способов сравнения полученных результатов исседования;</p>
              <p>- выбор способа кодировки и внесения данных в компьютер.</p>
              <br>
              <h3>Что мы не делаем?</h3>
              <p>- не проведим само наблюдения;
              <p>- не вносим данные наблюдений/исследований в компьютер.</p>
          </div>
      </div>
    </div>
<!------------------------------------------------------------------------------------------------------------------->
    <div class="site-section bg-light">
      <div class="container">
          <div class="text">
              <h3>Почему важно, начиная исследование, проконсультироваться у профессионалов в области статистики?</h3>
              <p>1. Очень частая жалоба врачей, что пришлось перебивать базу несколько раз. А это огромные временные затраты.
                  Порой приходится даже заново поднимать медицинские карты пациентов.</p>
              <p>2. Важно закодировать данные так, чтобы они были удобны для расчетов конкретных статистики и критериев.
                  Иногда достаточно ввести просто код - меньше/норма/выше нормы, а иногда важно внести именно само значение
                  измеряемого параметра. Наибольшие сложности возникают при кодировании нескольких измерений за период наблюдения.</p>
              <p>3. Правильное кодирование данных сохранит много времени и сил! Которые можно использовать для подробного
                  анализа данных.</p>
          </div>
          <div class="pt-5">
            <a href="{% url 'articles:tag_articles' id=9 %}"><span class="post-category text-white bg-primary mb-3">консультант по статистике</span></a>
            <a href="{% url 'articles:tag_articles' id=2 %}"><span class="post-category text-white bg-primary mb-3">рецензия статистика</span></a>
            <a href="{% url 'articles:tag_articles' id=1 %}"><span class="post-category text-white bg-primary mb-3">доказательная медицина</span></a>
          </div>
      </div>
    </div>
<!------------------------------------------------------------------------------------------------------------------->
    <div class="site-section bg-white">
      <div class="container">
          <h3>Заказать консультацию</h3>
          <p>Опишите кратко суть Вашей проблемы и мы с Вами свяжемся.</p>
            <div class="col-md-12 col-lg-10">
                <p>Вы вошли как {{ user.username }}.</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>{{field.label_tag}}</p>
                    <hr>
                    {% for error in field.errors %}
                        {{error}}
                    {% endfor %}
                    <p>{{field}}</p>
                    {% endfor %}
                    <button type="submit" class="btn btn btn-success">Заказать консультацию</button>
                </form>
                <div class="pt-5">
                <p>Если у Вас остались вопросы, то можете задать вопрос. Или заказать статобработку.</p>
                <a href="{% url 'articles:request_service' %}"><span class="post-category text-white bg-success mb-3">Заказать статобработку</span></a>
                <a href="{% url 'articles:request_question' %}"><span class="post-category text-white bg-success mb-3">Задать вопрос</span></a>
                <a href="{% url 'articles:request_review' %}"><span class="post-category text-white bg-success mb-3">Заказать рецензию</span></a>
                {% if user.is_authenticated %}
                  <a href="{% url 'users:subscribe' pk=user.pk %}"><span class="post-category text-white bg-success mb-3">Подписка на новости</a>
                {% else %}
                  <a href="{% url 'users:register' %}"><span class="post-category text-white bg-success mb-3">Подписка на новости</a>
                {% endif %}
            </div>
            </div>
      </div>
    </div>
{% endblock %}