{% extends "articles/base.html" %}

{% block title %}{{article.article_name}}{% endblock %}
<!------------------------------------------------------------------------------------------------------------------->
{% block content %}
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <span>Раздел: Подписка</span>
          <h3>Подписка на новости сайта</h3>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>{{field.label_tag}}</p>
                    <hr>
                    {% for error in field.errors %}
                        {{error}}
                    {% endfor %}
                    <p>{{field}}</p>
                    {% endfor %}
                    <button type="submit" >Подписаться на новости сайта</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!------------------------------------------------------------------------------------------------------------------->