{% extends "articles/base.html" %}

{% block content %}
    <div class="site-section bg-light">
      <div class="container">
          <div class="row">
          <div class="col-md-6">
              <span>Раздел: Подписка</span>
              <h3>Подписка на новости сайта</h3>
              <p>Подписка успешно завершена. Теперь Вы будете в курсе всех публикаций на сайте.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-white">
      <div class="container">
        <div class="row align-items-stretch retro-layout-2">
        </div>
      </div>
    </div>
{% endblock %}