{% extends "articles/base.html" %}

{% block title %}Список тэгов{% endblock %}

{% block content %}

    <div class="py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <span>Раздел: Все тэги</span>
            <h3>Все тэги</h3>
            <p>Наиболее актуальные тэги собраны здесь!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-white">
      <div class="container">
          <div class="row mb-5">
              <div class="col-12">
                  <h5>Список тэгов:</h5>
              </div>
          </div>
        <div class="row align-items-stretch retro-layout-2">
            <ul>
                {% for tag in tags%}
                <li>
                    <a href = "{%url 'articles:tag_one' pk=tag.pk %}">{{tag.tag_name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
          <a href="{%url 'articles:tag_create' %}" class="btn btn-primary">Добавить новый тег</a>
      </div>
    </div>
{% endblock %}