{% extends "articles/base.html" %}

{% block title %}{{tag.tag_name}}{% endblock %}

{% block content %}
    <div class="site-section bg-light">
      <div class="container">
          <div class="row mb-5">
              <div class="col-12">
                  <h2>Редактирование тэга:</h2>
              </div>
          </div>
        <div class="row align-items-stretch retro-layout-2">
            <div class="text-center">
                <h5>{{tag.tag_name}}</h5><p></p>
                <div class="container">
                    <div class="text-center"><a href = "{%url 'articles:tag_update' pk=tag.pk %}" class="btn btn-warning">Изменить</a></div><p></p>
                    <div class="text-center"><a href = "{%url 'articles:tag_delete' pk=tag.pk %}" class="btn btn-danger">Удалить</a></div>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}